@using RecycleCoin.Entities.Concrete
@{
	var categories = ViewBag.categories as List<Category>;
}

<section>

    @for (var i = 0; i < categories.Count; i++)
    {
	    var category = categories[i];
	    <ul id="@category.Name">
			@foreach (var p in category.Products)
			{
				<li>@p.Name  - >  @p.Carbon</li>
			}
			

	    </ul>
    }

</section>