


<div id="statistic" style="">
	<div class="bubble">
		<div class="h-100 w-100">
			<ul>
				<li>
					Son bir Haftada
				</li>
                <li>
                    Ençok Geri dönüşüm yapan Kullanıcı :
                </li>
				<li>
					asdpasöd apsdöpasdö
				</li>

			</ul>
			<button id="statisticPanelClose" class="btn btn-primary">Kapat</button>
		</div>
	</div>

</div>


<script type="text/javascript">
    $("#showStatisticsBtn").click(function () {
        $("#statisticsPanel").toggleClass("activeStatisticPanel")
    })
    $("#statisticPanelClose").click(function () {
        $("#statisticsPanel").removeClass("activeStatisticPanel")

	})

</script>





